<!DOCTYPE html>
<html>

<head>
  <title>Bluemix TopCop - Self Enablement</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/bakery.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />

</head>

<body class="enablement">
  <div class="container">

    <div class="row bg-div" style="margin-bottom:0 !important;">
      <div class="col s12 center">
        <h3 class="bold no-margin3" style="color:#242424;" id="header_title">Header title</h3>
      </div>
      <div class="col s12 center">
        <h4 style="color:#242424;" id="header_trackName">Header track name</h4>
      </div>
      <div class="col s12 center">
        <p class="white-text no-margin4 spaced" style="font-family:Montserrat;" id="header_subtitle">Subtitle</p>
      </div>
    </div>

    <div id="chapters">

    </div>
    
    <div class="row my-wrapper valign-wrapper no-border bg-row">
      <div class="col s2 m2 ">
        <img class="responsive-img right clip-adjust" src="/images/clips.png">
      </div>
      <div class="col s9  m9 pull-s1">
        <a href="https://developer.ibm.com/courses/badges/"><p class="white-text bold spaced2 left title">CHAPTER 1 - FORCE SENSITIVE</p></a>
      </div>
    </div>
    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>

    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s6 center" style="font-family:Raleway;"><a href="https://developer.ibm.com/courses/all-courses/bluemix-essentials/">
        <p class="white-text bold p-title" >Bluemix Essentials</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Self-Paced</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">4 hours</p>
        <p class="white-text p-content">Free</p>             
        </a> 
      </div>
      
    <hr class="hr-style-ver">
      <div class="col s6 center" style="font-family:Raleway;">
        <a href="https://developer.ibm.com/courses/all/cloud-application-developer-certification-preparation-v2/">
        <p class="white-text bold p-title">Cloud Application</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Self-Paced</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">21 hours</p>
        <p class="white-text p-content" >Free</p>
        </a>
      </div>
      
    <hr class="hr-style-ver">
      <div class="col s6 center" style="font-family:Raleway;">
        <a href="https://developer.ibm.com/courses/all-courses/chatbots-and-watson-lets-talk-about-national-parks/">
        <p class="white-text bold p-title">Chatbots&Watson</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Self-Paced</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">5 hours</p>
        <p class="white-text p-content" >Free</p>
        </a>
      </div>
    </div>


    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>


    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s2 m2">
        <img class="responsive-img right clip-adjust" src="/images/clips.png" width="60%">
      </div>
      <div class="col s9 pull-s1 m9 ">
        <a href="https://www.coursera.org/specializations/full-stack"><p class="white-text bold spaced2 left title" style="margin:30px 0px 30px 0px;">CHAPTER 2 - LIGHTSABER OWNER</p></a>
      </div>

    </div>

    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>


    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s8 center" style="font-family:Raleway;">
        <a href="https://www.coursera.org/learn/html-css-javascript">
        <p class="white-text bold p-title">HTML5, CSS & JS</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Coursera</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">3 weeks. 3-4 hours/week</p>        
        <p></p>
        </a>
      </div>      
    <hr class="hr-style-ver">
      <div class="col s9 center" style="font-family:Raleway;">
        <a href="https://www.coursera.org/specializations/full-stack">
        <p class="white-text bold p-title" >Angular JS</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Coursera</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">4 weeks. 5-6 hours/week</p>        
        <p></p>
        </a>
      </div>
      <hr class="hr-style-ver">
      <div class="col s8 center" style="font-family:Raleway;">
        <a href="https://www.coursera.org/specializations/full-stack">
        <p class="white-text bold p-title" >Server Side - NodeJS</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Coursera</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">4 weeks. 3-4 hours/week</p>
        <p></p>
        </a>
      </div>

    </div>

    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>


    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s2 m2">
        <img class="responsive-img right clip-adjust" src="/images/clips.png" width="60%">
      </div>
      <div class="col s9 pull-s1 m9">
        <a href="https://developer.ibm.com/code/journey/"><p class="white-text bold spaced2 left title" style="margin:30px 0px 30px 0px;">CHAPTER 3 - PADAWAN</p></a>
      </div>

    </div>

    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>

    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s6 center" style="font-family:Raleway;">
        <a href="https://developer.ibm.com/code/journey/category/containers/">
        <p class="white-text bold p-title" >Containers</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">IBM Code - Journeys</p>
        <p class="white-text p-content" style="margin-bottom:-10px;"></p>
        <p></p>
        </a>
      </div>
      <hr class="hr-style-ver">
      <div class="col s6 center" style="font-family:Raleway;">
        <a href="https://developer.ibm.com/code/journey/category/microservices/">
        <p class="white-text bold p-title">MicroServices</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">IBM Code - Journeys</p>
        <p class="white-text p-content" style="margin-bottom:-10px;"></p>
        <p></p>
        </a>
      </div>
      <hr class="hr-style-ver">
      <div class="col s6 center" style="font-family:Raleway;">
        <a href="https://developer.ibm.com/code/journey/category/serverless/">
        <p class="white-text bold p-title">Serverless</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">IBM Code - Journeys</p>
        <p class="white-text p-content" style="margin-bottom:-10px;"></p>
        <p></p>
        </a>
      </div>

    </div>

    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>

    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s2 m2">
        <img class="responsive-img right clip-adjust" src="/images/clips.png" width="60%">
      </div>
      <div class="col s9 pull-s1 m9">
        <a href="https://www.ibm.com/devops/method"><p class="white-text bold spaced2 left title" style="margin:30px 0px 30px 0px;">CHAPTER 4 - JEDI MASTER</p></a>
      </div>

    </div>

    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>

    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s8 center" style="font-family:Raleway;">
        <a href="https://www.ibm.com/devops/method/category/think">
        <p class="white-text bold p-title">Think</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">IBM Design Thinking</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Define MVP</p>
        <p class="white-text p-content" >Playbacks</p>
        </a>
      </div>
      <hr class="hr-style-ver">
      <div class="col s9 center" style="font-family:Raleway;">
        <a href="https://www.ibm.com/devops/method/category/code">
        <p class="white-text bold p-title" >Code&Delivery</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Test Driven Development</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Continuous Integration</p>
        <p class="white-text p-content" >Automated Test</p>
        </a>
      </div>
      <hr class="hr-style-ver">
      <div class="col s8 center" style="font-family:Raleway;">
        <a href="https://www.ibm.com/devops/method/category/manage">
        <p class="white-text bold p-title" >Run&Manage</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Continuous Delivery</p>
        <p class="white-text p-content" style="margin-bottom:-10px;">Automated Monitoring</p>
        <p class="white-text p-content" >High Availability</p>
        </a>
      </div>
    </div>

    <div class="row no-border bg-row">
      <div class="col s12">
        <hr class="hr-style">
      </div>
    </div>

    <div class="row my-wrapper valign-wrapper bg-row no-border">

      <div class="col s9 m6  ">
        <p class="right" style="font-family:Montserrat;color:#404040;">code bakery</p>      

      </div>
      <div class="col s5 m4 pull-m1">
      <img src="/images/bakery.png" width="50%" class="responsive-img right">
      </div>
    </div>

    
      <div class="row no-border bg-row">
        <div class="col s12"><p></p></div>
      </div>
    

  </div>




  <!--Import jQuery before materialize.js-->

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script type="text/javascript" src="/scripts/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/util.js"></script>
  <script type="text/javascript" src="/scripts/index.js"></script>
</body>

</html>